<?xml version="1.0" encoding="UTF-8"?>
<mods xmlns="http://www.loc.gov/mods/v3"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema"
      version="3.4">
    {% spaceless %}
    <titleInfo>
        <title>{{- title.value -}}</title>
        {% if subtitle is not empty %}<subTitle>{{- subtitle.value -}}</subTitle>{% endif %}
    </titleInfo>
    {% if names is not empty %}
        {% for name in names %}
            {% include 'mods.name.twig' %}
        {% endfor %}
    {% endif %}
    {% if dateIssued is not empty %}
    <dateIssued>{{- dateIssued.value -}}</dateIssued>
    {% endif %}
    {% if identifiers is not empty %}
        {%  for identifier in identifiers %}
        <identifier{% if identifier.type %} type="{{- identifier.type -}}"{% endif %}>{{- identifier.value -}}</identifier>
        {% endfor %}
    {% endif %}
    {% if pages is not empty %}
        <physicalDescription>
            <extent{% if pages.unit %} unit="{{- pages.unit -}}"{% endif %}>
                {{- pages.value -}}
            </extent>
        </physicalDescription>
    {% endif %}
    {% if hierarchicGeographic is not empty %}
        {%  for geo in hierarchicGeographic %}
            {% include 'mods.geographic.twig' %}
        {% endfor %}
    {% endif %}
    {%  endspaceless %}
</mods>
